* {
  box-sizing: border-box;
}

:root {
  /* Nord colors */
  --black: #2e3440;
  --blue-dark: #5e81ac;
  --blue-light: #81a1c1;
  --cyan: #88c0d0;
  --gray-dark: #434c5e;
  --gray-darker: #3b4252;
  --gray-light: #d8dee9;
  --gray-lighter: #e5e9f0;
  --gray: #4c566a;
  --green: #a3be8c;
  --mint: #8fbcbb;
  --orange: #d08770;
  --purple: #b48ead;
  --red: #bf616a;
  --white: #eceff4;
  --yellow: #ebcb8b;

  /* Sizes */
  --huge: 32px;
  --large: 24px;
  --medium: 16px;
  --small: 8px;
  --tiny: 4px;
}

a {
  color: var(--white);
  cursor: pointer;
  transition: color 100ms ease-out;
}

a:hover {
  color: var(--red);
  text-decoration: line-through;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin: 0px;
}

button {
  align-items: center;
  background-color: var(--gray-darker);
  border-width: 0px;
  border-radius: var(--small);
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  margin-top: var(--medium);
  outline: none;
  padding: var(--small) var(--medium);
  text-transform: uppercase;
  transition: background-color 100ms ease-out;
  vertical-align: top;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:hover:not(:disabled) {
  background-color: var(--gray-dark);
}

button.-blank {
  background-color: transparent;
}

button.-danger:hover:not(:disabled) {
  background-color: var(--red);
}

button.-sound.-paused {
  background-color: var(--yellow);
  color: var(--black);
}

button.-sound.-playing {
  background-color: var(--green);
  color: var(--black);
}

button.-success > span.action {
  color: var(--black);
}

button.-success:hover:not(:disabled) {
  background-color: var(--green);
}

button.-warning > span.action {
  color: var(--black);
}

button.-warning:hover {
  background-color: var(--yellow);
}

button > img {
  border-radius: var(--small);
  max-height: 40px;
}

button > * {
  transition: opacity 100ms ease-out;
}

button:hover:not(:disabled):not(.-sound) > * {
  opacity: 0.1;
}

button > img + span:not(.action) {
  margin-left: var(--small);
}

button > span.action {
  font-size: 1rem;
  opacity: 0;
  position: absolute;
}

button:hover:not(:disabled) > span.action {
  opacity: 1;
}

label {
  color: var(--gray);
  cursor: inherit;
}

p {
  margin: 0px;
}

p:first-child {
  margin-top: var(--medium);
}

p:last-child {
  margin-bottom: var(--medium);
}

.-hidden {
  display: none !important;
}

#ChannelSelect {
  display: flex;
  flex-direction: column;
  margin: 0px var(--medium);
}

#CurrentChannel {
  margin: var(--medium);
}

#Library {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: var(--medium);
}

#Library > button {
  margin-right: var(--medium);
}

#Player {
  display: flex;
  flex-direction: column;
}

#PlayYoutube {
  min-width: 128px;
}

#Volume {
  cursor: pointer;
  margin: var(--medium) var(--medium) 0px;
}
