@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Nord colors */
  --black: #22262f;
  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --purple: #b48ead;
  --blue-dark: #5e81ac;
  --blue-light: #81a1c1;
  --mint: #8fbcbb;
  --cyan: #88c0d0;
  --gray-darkest: #2e3440;
  --gray-darker: #3b4252;
  --gray-dark: #434c5e;
  --gray: #4c566a;
  --gray-light: #d8dee9;
  --gray-lighter: #e5e9f0;
  --white: #eceff4;

  /* Sizes */
  --huge: 32px;
  --large: 24px;
  --medium: 16px;
  --small: 8px;
  --tiny: 4px;
}

a {
  color: var(--white);
  cursor: pointer;
  transition: color 100ms ease-out;
}

a:hover {
  color: var(--red);
  text-decoration: line-through;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 32px;
  margin: 0px;
}

button {
  align-items: center;
  background-color: var(--gray-dark);
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  margin-top: var(--medium);
  outline: none;
  padding: var(--medium);
  text-transform: uppercase;
  transition: background-color 100ms ease-out;
  vertical-align: top;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

button:disabled > * {
  opacity: 0.5;
}

button:hover:not(:disabled) {
  background-color: var(--gray);
}

button > img {
  margin-right: var(--large);
  max-height: 40px;
}

label {
  color: var(--gray);
  cursor: inherit;
  font-family: "Baloo 2", cursive;
  font-weight: 500;
}

p {
  margin: 0px;
}

p:first-child {
  margin-top: var(--medium);
}

p:last-child {
  margin-bottom: var(--medium);
}

.page.-hidden {
  display: none !important;
}

#ChannelSelect {
  display: flex;
  flex-direction: column;
  margin: 0px var(--medium);
}

#Player {
  display: flex;
  flex-direction: column;
  margin: var(--medium);
}
